<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.stockfly.dailyreview</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Users/imatrix/data/stock/tools/daily_review.py</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>19</integer>
        <key>Minute</key>
        <integer>53</integer>
        <key>Weekday</key>
        <array>
            <integer>1</integer>
            <integer>2</integer>
            <integer>3</integer>
            <integer>4</integer>
            <integer>5</integer>
        </array>
    </dict>
    <key>StandardOutPath</key>
    <string>/tmp/stockfly_daily_review.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/stockfly_daily_review.err</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/opt/homebrew/bin</string>
        <key>SMTP_HOST</key>
        <string>smtp.gmail.com</string>
        <key>SMTP_PORT</key>
        <string>465</string>
        <key>SMTP_USER</key>
        <string>imatrixxxlee@gmail.com</string>
        <key>SMTP_USE_SSL</key>
        <string>1</string>
        <key>MAIL_TO</key>
        <string>imatrixxxlee@gmail.com</string>
    </dict>
</dict>
</plist>
